*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: inherit;
}

:root {
    --color-white: #fff;
    --color-light-white: #eee;

    --color-tomato: #d40640;
    --color-my-blue: #0053FF;
    --color-my-blue-dark: #003EB0;
    --color-purple-transparent: rgba(88, 24, 69, .9);
    --color-pink-transparent: rgba(216, 14, 91, .9);

    --color-orange: #ff3c00;

    --color-light-black: #222;
    --color-black: #000;

    --shadow: rgba(0, 0, 0, .4);
}

.app {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 80vh; 
    width: 25%;
    box-shadow: 0 2rem 4rem var(--shadow);
    background-color: #fff;
}

.result-screen {
    height: 15vh;
    font-size: 8rem;
    font-weight: 600;
    /* To display the value at the bottom-right of the container */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.computation-screen {
    height: 6vh;
    font-size: 2.5rem;

    /* To display the value at the bottom-right of the container */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.screen {
    height: 22vh;
    width: 100%;
    padding: 0 2rem;
    overflow: hidden;
    white-space: no-wrap;
    color: var(--color-light-white);
    background-color: var(--color-my-blue);
}

.keypad_row {
    height: 11vh; /* (80vh calculator - 25vh screen) / 5 keypadRow components = 11vh */
    width: 100%;
    display: flex; /* To control the dimension */
    color: white;
}

.keypad {
    height: 55vh;
    width: 100%;
}

.btn {
    width: 25%;
    height: 100%;
    font-size: 3rem;
    font-family: inherit;
    background-color: var(--color-white);
    border: 1px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.btn:active {
    transform: scale(.95);
}

.btn--large {
    width: 50%;
    color: var(--color-white);
    background-color: var(--color-my-blue);
    transition: all .2s;
}

.btn--operator {
    color: var(--color-my-blue);
}

.darkTheme_Icon{
    color: white;
}

.darkTheme_Calculator{
    background-color: var(--color-light-black);
}

.darkTheme_Calculator .screen{
    background-color: var(--color-black);
}

.darkTheme_Calculator .btn{
    background-color: var(--color-light-black);
    color: var(--color-white);
}
.darkTheme_Calculator .btn--large{
    background-color: var(--color-black);
    color: var(--color-white);
}

@media screen and (min-width: 748px){
    .btn:hover {
        color: var(--color-light-white);
        background-color: var(--color-my-blue);
    }
    .btn--large:hover {
        background-color: var(--color-white);
        color: var(--color-my-blue);
    }
    .darkTheme_Calculator .btn:hover {
        color: var(--color-light-white);
        background-color: var(--color-my-blue-dark);
    }
    .darkTheme_Calculator .btn--large:hover {
        background-color: var(--color-my-blue-dark);
        color: var(--color-light-white);
    }
    
}
    
@media screen and (max-width: 747px){
    .btn:active {
        color: var(--color-light-white);
        background-color: var(--color-my-blue);
    }
    .btn--large:active {
        background-color: var(--color-white);
        color: var(--color-my-blue);
    }
}

@media screen and (min-width: 748px) and (max-width: 1240px){
    .calculator{
        width: 35%;
    }
}

@media screen and (min-width: 401px) and (max-width: 747px){
    .calculator{
        width: 50%;
    }
}
@media screen and (max-width: 400px){
    .calculator{
        width: 100%;
    }
}